<!-- <h1 style="color: darkcyan; margin-top: 12px;">Get started</h1> -->
<form [formGroup]='RegistrationForm' fxLayout="row" fxLayoutGap="space-around" class="card">
    <div fxLayout="column" fxLayoutAlign="space-evenly center" class="left-half">
        <p style="font:bolder;font-size:xx-large;margin:30px 80px 0 12px">Welcome Back!</p>
        <p fxLayoutGap="12px">Please enter login details below</p>

        <mat-form-field appearance="outline" class="input">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="pat@example.com" formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required />
        </mat-form-field>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors?.required">Email is required</div>
            <div *ngIf="f.email.errors?.email">Email must be a valid email address</div>
        </div>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
            <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()">
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>&nbsp;
        </mat-form-field>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors?.required">Password is required</div>
            <div *ngIf="f.password.errors?.['minlength']">Password must be at least 8 characters</div>
        </div>
        <button mat-button style="margin-left: 56%;width:fit-content;margin-top:-50px;">Forget Password?</button>
        <button mat-flat-button style="background-color: dodgerblue; width:70%;margin: 26px 0 0 32px ;"
            (click)="login()">Log
            In</button>

        <mat-label style="margin:2px 0 0 38px;">Don't have an account?<button mat-button (click)="signup()"
                style="text-decoration: underline;">Sign Up</button></mat-label>
        <div class="divider">
            <span class="line"></span>
            <span class="or">OR</span>
            <span class="line"></span>
        </div>


        <!-- Social Login Buttons -->
        <div class="social-login">
            <button (click)="signInWithGoogle()"><mat-icon>Google</mat-icon>Sign in with Google</button>&nbsp;
            <button (click)="signInWithFB()"><mat-icon>Facebook</mat-icon>Sign in with Facebook</button>
        </div>
    </div>
    <div class="right-half">
        <img src="assets/workplace-background.jpg" style="border: rounded;width:100%;height: 100vh;">
    </div>

</form>