<form [formGroup]='signUpForm' fxLayout="column" fxLayoutGap="space-around" class="card">
    <mat-card style="width: 400px;height: 1000px;;" appearance="outlined">
        <p style="margin:18px 0 0 24px;font:bolder;font-size:x-large;">Sign up now</p>
        <p style="margin:18px 0 0 24px">Create an account</p>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Full Name</mat-label>
            <input matInput placeholder="FullName" formControlName="FullName">
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="pat@example.com" formControlName="email"
                (blur)="updateErrorMessage()" required />
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password"/>
            <button mat-icon-button matSuffix  (click)="clickEvent($event)"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <!-- <div *ngIf="f.password.errors?.required && f.password.touched">Password is required</div>
        <div *ngIf="f.password.errors?.minlength && f.password.touched">Password must be at least 6 characters long</div> -->
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Confirm password</mat-label>
            <input matInput [type]="hide() ? 'confirmPassword' : 'text'" formControlName="confirmPassword"/>
            <button mat-icon-button matSuffix  (click)="clickEvent($event)"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <!-- <div *ngIf="f.confirmPassword.errors?.required && f.confirmPassword.touched">confirm Password is required</div>
        <div *ngIf="f.confirmPassword.errors?.minlength && f.confirmPassword.touched">confirm Password must be at least 6 characters long</div> -->
        </mat-form-field>

        <button mat-flat-button (click)="Create()" style="width: 50%; margin-left: 56px;"> Create Account</button>
        <mat-label style="margin-left: 38px;">Already have an account?<button mat-button style="text-decoration: underline;" (click)="login()">Log in</button></mat-label>
        <div class="divider">
            <span class="line"></span>
            <span class="or">OR</span>
            <span class="line"></span>
        </div>

        <!-- Social Login Buttons -->
        <div class="social-login">
            <button (click)="signInWithGoogle()">Sign in with Google</button>&nbsp;
            <button (click)="signInWithFB()">Sign in with Facebook</button>
        </div>

    </mat-card>
</form>