.input {
  width: 70%;
  padding: 12px 0 0 26px;
}

.card {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  /* margin-top: 22px; */
  height: 100vh;
  overflow: hidden;
}
.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.line {
  flex-grow: 1;
  height: 1px;
  background-color: #666;
  width:28vh
}

.or {
  padding: 0 10px;
  color: #666;
}
.social-login button {
  width: 54%;
  margin: 10px 0 0 98px;
  padding: 10px;
  background-color: #4285F4; /* Blue for Google */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.left-half, .right-half {
  flex: 1; /* Equal width for both halves */
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  margin-left: 20px;
}

.left-half {
  height: 100vh;

}

.right-half {
  background-color: #e0e0e0; /* Example background color */
}
.invalid-feedback {
  color: red;
  margin-top: -16px;
}