<h1 style="color: darkcyan; margin-top: 12px;">Get started</h1>
<form [formGroup]='RegistrationForm' fxLayout="column" fxLayoutGap="space-around" class="card">
    <mat-card style="width: 400px;height: 450px;" apperance="outlined">
        <p style="margin:18px 0 0 24px">Please enter your details</p>
        <p style="font:bolder;font-size:x-large;margin:18px 0 0 24px">Welcome Back</p>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="pat@example.com" formControlName="email"
                (blur)="updateErrorMessage()" required />
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" />
            <button mat-icon-button matSuffix formControlName="password" (click)="clickEvent($event)"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button mat-button style="margin-left: 44%;width:fit-content;margin-top:-14px;">Forget Password?</button>
        <button mat-flat-button formControlName="SignUp"
            style="background-color: dodgerblue; width:70%;margin: 26px 0 0 32px ;" (click)="login()">Log
            In</button>

        <mat-label style="margin:2px 0 0 38px;">Don't have an account?<button mat-button (click)="signup()" style="text-decoration: underline;">Sign Up</button></mat-label>

    </mat-card>

</form>